name: Linter and tests

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run linter
        uses: wearerequired/lint-action@v2
        with:
          linters: 'eslint'

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18.x'
          cache: 'npm' # Ускоряет повторные сборки

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test